main h1{
    font-weight: 500;
    text-align: center;
    padding-top: 10%;
    font-size: 75px;
}
main h2{
    font-size: 55px;
}
#full-screen{
    padding-top: 10%;
    padding-bottom: 5%;
    width: 100%;
    background: url("../img/apprendreACoder.svg") no-repeat;
    background-size: cover;
    display: flex;
    margin-top: 8%;
    box-shadow: 0px 0px 10px
}
#full-screen > div{
    background-color: rgb(28 67 81 / 84%);
    color: white;
    width: 60%;
    padding-bottom: 5%;
    box-shadow: 0px 0px 15px grey;
}
#full-screen > div > p{
    font-size: 40px;
    text-align: center;
    margin-top: 2px;
}
#main-description{
    padding: 5% 0% 0% 0%;
    /* width: 90%; */
}
#main-description > div{
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
}
#main-description > ul{
    padding-left: 0;
}
#main-description > ul > li{
    display: flex;
    padding: 5% 2% 2% 2%;
}
#main-description > ul > li:nth-child(even){
    flex-direction: row-reverse;
}
#main-description > ul > li:nth-child(odd){
    background-color:#e3eaed;;
}
#main-description > ul > li > div{
    /* width: 50%; */
    margin: 0%;
    /* padding-left: 10%; */
    display: flex;
    flex-direction: column;
    text-align: justify;
}
#main-description p{
    font-size: 40px;
    width: 75%;
    margin-top : 5%;
    margin-bottom: 5%;
}
#main-description button{
    font-size: 23px;
    padding: 4%;
    /* width: 112%; */
    border: none;
    box-shadow: 0 0 10px grey;
    border-radius: 2%;
    background-color: white;  
}
#main-description > ul > li:nth-child(2) button{
    flex-direction: row-reverse;
    background-color: rgb(28 67 81 / 84%); 
    color: white;
}
#learnOC{
    padding: 3%;
    font-size: 20px;
    text-align: center;
}

img{
    width: 50%;
    margin: 1%;
}
img.img-mobile{
    display: none;
}


@media screen and (max-width : 840px){
    main h1{
        font-size: 35px;
    }
    main h2{
        font-size: 25px;
    }
    #full-screen{
        height: 300px;
    }
    #full-screen > div > p{
        font-size: 25px;
    }
    #main-description  p,  #main-description button{
        font-size: 15px;
    }
}
@media screen and (max-width : 415px){
    main h1{
        font-size: 25px;
    }
    main h2 {
        font-size: 15px;
    }
    #full-screen{
        height: 250px;
    }
    #full-screen > div{
        width: 75%;
        padding: 3%;
    }
    #full-screen > div > p{
        font-size: 15px;
    }
    img.img-desktop, p.p-desktop{
        display: none;
    }
    div.div-img{
        display: flex;
        justify-content: center;
    }
    div.div-img:nth-child(3){
       width: 100px;
    }
    img.img-mobile{
        display: block;
        padding-top: 3%;
        padding-bottom: 3%;   
    }
    #main-description > ul > li > div {
        width: 100%;
    }
    #main-description  p{
        font-size: 15px;
        width: 95%;
    }
    #main-description button{
        font-size: 10px;
    }
}